:root {
    --header-color-1: #757575;
    --header-color-2: #2196F3;
    --title-color-1: #757575;
    --title-color-2: #FFFFFF;
    --main-btn-color: #2196F3;
    --main-btn-title-color: #FFFFFF;
    --main-title-color-1: #212121;
    --main-title-color-2: #757575;
}

body {
    font-family: roboto, Tahoma, sans-serif
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* ---------------------------header------------------------------- */
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--header-color-2)
}

.logo-second {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color1)
}

.header-link:hover {
    color: var(--header-color-2)
}

.header-link:focus {
    color: var(--header-color-2)
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color-2)
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color1)
}

/* ---------------------------main------------------------------- */
.first-main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--title-color-2)
}

.first-main-section {
    background-color: black;
}

.first-main-button {
    background-color: var(--main-btn-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-btn-title-color);
}

.second-main-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-title-color-1)
}

.second-main-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-title-color-2)
}

.third-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color-1)
}

.fourth-main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color-1)
}

.fourth-main-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-title-color-1)
}

.fourth-main-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-title-color-2)
}